        body {
            padding: 100px;
        }

        h2 {
            border: 1px skyblue;
            width: 1000px;
            background-color: skyblue;
        }

        h1 {
            margin-top: 50px;
            margin-bottom: 50px;
        }


        div {

            width: 1000px;
            border: 1px solid skyblue;
            background-color: pink;


        }

        img {
            width: 145px;
            height: 145px;
        }

        .graduation {
            font-size: 21;
            color: purple;

            margin-bottom: 100px;
            margin-left: 150px;
            background-color: burlywood;
            padding: 20px;
            display: inline.block;
        }

        span {
            padding: 10px;
            background-color: orange;
        }
        